.vg-page.page-home::before  {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,44,9,1) 43%, rgba(0,212,255,1) 100%);
}

.img_portf{
border-style: 5px solid #555;
}

.page-home .badge {
    color: white !important;
}

.vg-page.page-home::after  {
    background-color: rgba(62, 57, 57, 0.8);
}

.vg-page.page-funfact {
    background-image: url('/img/bg_banner.jpg');
}